{% extends "actions_base.html" %}

{% block title %}Highlights{% endblock %}

{% block action_header %}Highlight the Greek Parliament{% endblock %}

{% block action_hint %}Take a look at the most common words that are used by Parliament members{% endblock %}

{% block content %}
  <form class="container border shadow p-2 w-50" name="attribute-form" onsubmit="return validateForm()" action="{{ url_for('highlights', step='values') }}" method="post" autocomplete="off">
    <div class="row py-2">
      <label class="col col-form-label" for="attribute-list">Search by</label>
      <select class="form-select col-5 mx-3" id="attribute-list" name="attribute" required>
        {% for attribute in attributes %}
          <option value="{{ attribute }}">{{ attribute.title().replace("_"," ") }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="d-flex flex-row-reverse py-2">
        <input type="submit" name="choose" value="Choose">
    </div>
  </form>
{% endblock %}
