{% extends "base.html" %}

{% block title%}Similarities{% endblock %}

{% block content %}
  <h2 class="text-center py-4">Similarize the Greek Parliament</h2>

  <form class="container w-50 border shadow" action="{{ url_for('similarities') }}" method="POST" autocomplete="off">
    <div class="m-2">
      <p class="text-center lead">Choose a grouping attribute:</p>

      <div class="row py-2">
        <label class="col col-form-label" for="from-member">A</label>
        <select class="form-select col-8" id="from-member" name="from-member-value">
          <option value="#ALL" selected="selected">All</option>
          {% for member in members %}
            <option value="{{ member }}">{{ member.title() }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="row py-2">
        <label class="col col-form-label" for="to-member">B</label>
        <select class="form-select col-8" id="to-member" name="to-member-value">
          <option value="#ALL" selected="selected">All</option>
          {% for member in members %}
            <option value="{{ member }}">{{ member.title() }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="row py-2">
        <label class="col col-form-label" for="k-results">Results Count</label>
        <input class="col-8" type="number" id="k-results" name="k-results" value="25" min="1">
      </div>
        <div class="text-right">
          <input type="submit" name="Similarize" value="Similarize">
      </div>
    </div>
  </form>

{% endblock %}
